@{
  Layout = "_Layout";
}

<div class="container">
  <h1 id="title">Welcome to Pierre's Vendor Tracker.</h1>
  <h3><a href='/vendors' class="btn btn-warning">View Vendors</a></h3>
  <h3><a href='/vendors/new' class="btn btn-info">Add a new Vendor</a></h3>
</div>