@using Pierres.Models;

@{
  Layout = "_Layout";
}

<div class="container">
  <h1>List of Vendors</h1>

  @if (@Model.Count == 0)
  {
    <h2>There are currently no vendors</h2>
  }
  <ul>
    @foreach(Vendor vendor in @Model)
    {
      <li>
        <div id ="vendorList" class="card">
          <a class="card-header" href='/vendors/@vendor.Id'><h3>@vendor.Name</h3></a>
          <p class="card-body">Description: @vendor.Description</p>
        </div>
      </li>
    }
  </ul>
  <a href='/vendors/new'class="btn btn-primary">Add a new vendor</a>
</div>