@using Pierres.Models;
@{
  Layout = "_Layout";
}

<table>
  <tr>
    <th>Vendor Name</td>
    <th>Vendor Description</td>
  <tr>
    <td>@Model["vendor"].Name</th>
    <td>@Model["vendor"].Description</th>
  </tr>

</table>